/*
Styling Ideas
-Need to set a max width and height for abt me 
paragraph so it's not a continuous line! (classname "bio")
*/


.fact{
    border: 2px double black;
    width: 45%;
}

.facts{

    border: 12px double black;
    display: flex;
    flex-wrap: wrap;
}